footer.footer
  .container.footer-container
    a(href="#").logo
      img(src="img/footer-logo.png")
    .footer-wrap
      .footer-top
        nav
          ul.footer-menu.menu
            li.menu__main.footer-menu__main_size
              a(href="#") Ретрофит комплекты
            li.menu__item.delimiter
              a(href="#") токарные
            li.menu__item
              a(href="#") фрезерные
            li.menu__item.menu__item_gray
              a(href="#") комплектация
        .footer-contact
          .footer-contact__item
            a(href="tel:+74812302559").footer-contact__number +7 (481) 230-25-59
            span.footer-contact__note Звонок по России бесплатный
          .footer-contact__item
            a(href="tel:+375296170015").footer-contact__number +375 (29) 617-00-15
            span.footer-contact__note Беларусь
      .footer-bottom
        ul.adress
          li.adress__item
            p.adress__text
              b Российская Федерация
              | , 214005, Смоленск
              br
              | ул. Свердлова, 24, офис 3/1 
              br
              | 8.00-17.00 по МСК
            .adress-mail
              a(href="tel:+78003507404").adress-mail__link +7 (800) 350-74-04 
              a(href="mailto:info@sitek-group.ru").adress-mail__link info@sitek-group.ru
          li.adress__item
            p.adress__text
              b Республика Беларусь
              | , 220040, Минск, ул. 
              br 
              | Сурганова, 88, помещение 3, офис 1 
              br
              | 9.00-18.00 по МСК
            .adress-mail
              a(href="tel:+375172170015").adress-mail__link +375 (17) 217-00-15
              a(href="mailto:info@sitek-group.ru").adress-mail__link info@sitek-group.ru
        .soc
          ul.soc-list
            li.soc-list__item
              a(href="#") 
                +svgsprite('1')(class="soc-list__icon")
            li.soc-list__item
              a(href="#") 
                +svgsprite('2')(class="soc-list__icon")
            li.soc-list__item
              a(href="#") 
                +svgsprite('3')(class="soc-list__icon")
            li.soc-list__item
              a(href="#") 
                +svgsprite('4')(class="soc-list__icon")
            li.soc-list__item
              a(href="#") 
                +svgsprite('5')(class="soc-list__icon")
            li.soc-list__item
              a(href="#") 
                +svgsprite('inst')(class="soc-list__icon")
          span.public-ofert Не является публичной офертой
